## Most common analyses codes extraction
### SQL Query
The following query lists all analyses in the dataset, as well as their labels, counts, and corresponding percentages.


```sql
SELECT
    labitems.label,
    labevents.itemid,
    COUNT(*) AS event_count,
    (COUNT(*) / (SELECT COUNT(*) FROM `physionet-data.mimiciv_hosp.labevents`)) * 100 AS percentage
FROM
    `physionet-data.mimiciv_hosp.labevents` as labevents
JOIN
    `physionet-data.mimiciv_hosp.d_labitems` as labitems ON labevents.itemid = labitems.itemid
GROUP BY
    labevents.itemid,
    labitems.label
ORDER BY
    event_count DESC
```

The results are stored in `most_common_analyses.json`

In [1]:
import pandas as pd
import json

In [2]:
with open('most_common_analyses.json', 'r') as f:
    data = pd.DataFrame(json.load(f))

In [3]:
data

                      label itemid event_count              percentage
0                Hematocrit  51221     3325700      2.8143027236030873
1                Creatinine  50912     3282278      2.7775577818271326
2            Platelet Count  51265     3216656      2.7220265633383085
3             Urea Nitrogen  51006     3189474      2.6990243753378937
4                Hemoglobin  51222     3188835      2.6984836352108883
..                      ...    ...         ...                     ...
910  Uric Acid, Joint Fluid  51826           1  8.4622868075986638e-07
911                Hyperseg  52055           1  8.4622868075986638e-07
912          Albumin, Stool  51927           1  8.4622868075986638e-07
913         Voided Specimen  52066           1  8.4622868075986638e-07
914           Chloride, CSF  51784           1  8.4622868075986638e-07

[915 rows x 4 columns]

In [7]:
analyses_list = data.head(26).itemid.tolist()

In [9]:
with open('most_common_analyses.txt', 'w') as f:
    f.write(str(analyses_list))