## Type 2 diabetes diagnoses codes extraction
### SQL Query
The following query finds all diagnoses mentioning type 2 diabetes and returns the number of diagnoses for each.

```sql
SELECT
    d1.icd_code,
    COUNT(d2.icd_code) AS occurrence_count,
    d1.long_title
FROM
    `physionet-data.mimiciv_hosp.d_icd_diagnoses` AS d1
JOIN
    `physionet-data.mimiciv_hosp.diagnoses_icd` AS d2 ON d1.icd_code = d2.icd_code
WHERE
    LOWER(d1.long_title) LIKE '%diabetes%'
    AND (LOWER(d1.long_title) LIKE '%type 2%' OR LOWER(d1.long_title) LIKE '%type ii%')
GROUP BY
    d1.icd_code,
    d1.long_title
ORDER BY occurrence_count DESC;
```

The results are stored in `type_2_diabetes_codes.json`

In [2]:
import pandas as pd
import json

In [6]:
with open('type_2_diabetes_codes.json', 'r') as f:
    data = pd.DataFrame(json.load(f))

In [7]:
data

,icd_code,occurrence_count,long_title
0,25000,41029,Diabetes mellitus without mention of complicat...
1,E119,16621,Type 2 diabetes mellitus without complications
2,E1122,10003,Type 2 diabetes mellitus with diabetic chronic...
3,25060,6646,"Diabetes with neurological manifestations, typ..."
4,E1165,5458,Type 2 diabetes mellitus with hyperglycemia
...,...,...,...
93,E113521,1,Type 2 diabetes mellitus with proliferative di...
94,E113212,1,Type 2 diabetes mellitus with mild nonprolifer...
95,E113419,1,Type 2 diabetes mellitus with severe nonprolif...
96,E113553,1,Type 2 diabetes mellitus with stable prolifera...
97,E113211,1,Type 2 diabetes mellitus with mild nonprolifer...

In [8]:
with open('type_2_diabetes_codes.txt', 'w') as f:
    f.write(str(data.icd_code.tolist()))